<%# app/views/comments/_form.html.erb %>
<%= turbo_frame_tag "new_comment_form" do %>
  <%= form_with(model: [article, Comment.new], local: true) do |form| %>
    <div class="form-group">
      <%= form.label :description, 'Comment:' %>
      <%= form.text_area :description, rows: 3, class: 'form-control rounded-border', placeholder: 'Write your comment here...' %>
    </div>
    <%= form.submit 'Post Comment', class: 'button' %>
  <% end %>
<% end %>
