<%# app/views/articles/index.html.erb %>
  <div class="container">
    <div class="row">
      <% if notice %>
        <div class="alert alert-success">
          <%= notice %>
        </div>
      <% end %>
      <% @articles.each do |article| %>
        <div class="col-12 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to article.title, article_path(article), class: "card-link" %>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">By: <%= "#{article.user.first_name} #{article.user.last_name}" %></h6>
              <% article.images.each do |image| %>
                <div class="mb-2">
                  <%= link_to article_path(article) do %>
                    <%= cl_image_tag image.key, class: "img-fluid", style: "height: 200px; width: 100%; object-fit: cover;" %>
                  <% end %>
                </div>
              <% end %>
              <div class="d-flex justify-content-end">
                <%= link_to bookmark_article_path(article), method: :post, remote: true, class: 'btn btn-link p-0', data: { turbo_method: :post } do %>
                  <i class="fa-solid fa-bookmark"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= javascript_tag do %>
    document.addEventListener("turbo:load", function() {
      document.querySelectorAll('.btn-primary').forEach(button => {
        button.addEventListener('ajax:success', function(event) {
          var [data, status, xhr] = event.detail;
          var alertBox = document.createElement('div');
          alertBox.className = 'alert alert-success';
          alertBox.innerText = 'Saved to your bookmarks';
          document.querySelector('.container').prepend(alertBox);
        });
      });
    });
  <% end %>
