<%# app/views/articles/show.html.erb %>
<% content_for :title, "Surviving Montreal: " + @article.title %>
<% content_for :meta_description, @article.description.truncate(160) %>

  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="text-image">
          <div class="card-body">
            <h5 class="card-title"><strong><%= @article.title %></strong></h5>
            <h6 class="card-subtitle mb-2 text-muted">By: <%= "#{@article.user.first_name} #{@article.user.last_name}" %></h6>
            <% @article.images.each do |image| %>
              <div class="mb-2">
                <%= cl_image_tag image.key, class: "img-fluid text-image", style: "height: 200px; width: 100%; object-fit: cover;" %>
              </div>
            <% end %>
            <p class="card-paragraph"><%= @article.description %></p>

              <div class="d-flex justify-content-end">
                <%= link_to bookmark_article_path(@article), method: :post, remote: true, class: 'btn btn-link p-0', data: { turbo_method: :post } do %>
                  <i class="fa-solid fa-bookmark" style="font-size: 25px;"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Comments Section -->
<div class="row" style="    margin: 0 auto;">
  <div class="col-12 mb-3">
    <div class="  text-image">
      <div class="card-body">
        <h3 class="card-title">Comments</h3>
        <div id="<%= dom_id(@article, :comments) %>">
          <%= render @article.comments %>
        </div>
        <div data-controller="comment-toggle">
          <div class="text-end">
            <button class="toggleCommentForm btn btn-link" data-action="click->comment-toggle#toggleForm" style="text-decoration: none;">
              <i class="fa-solid fa-comment"></i>
            </button>
          </div>
          <div class="commentFormContainer highlight p-3 mt-3 d-none" data-comment-toggle-target="formContainer">
            <%= render partial: 'comments/form', locals: { article: @article } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
