<%# app/views/articles/show.html.erb %>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= @article.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">By: <%= "#{@article.user.first_name} #{@article.user.last_name}" %></h6>
            <p class="card-paragraph"><%= @article.description %></p>
            <% @article.images.each do |image| %>
              <div class="mb-2">
                <%= cl_image_tag image.key, class: "img-fluid", style: "height: 200px; width: 100%; object-fit: cover;" %>
              </div>
            <% end %>
            <div class="d-flex flex-wrap">
              <span class="badge badge-pill badge-primary mr-2"># TAG</span>
              <span class="badge badge-pill badge-primary"># TAG</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Comments Section -->
<div class="row">
  <div class="col-12">
    <h3>Comments</h3>
    <div id="comments">
      <%= render @article.comments %>
    </div>
    <div class="text-end">
      <button id="toggleCommentForm" class="btn btn-link">
        💬
      </button>
    </div>
    <div id="commentFormContainer" class="highlight p-3 mt-3" style="display: none;">
      <%= render partial: 'comments/form', locals: { article: @article } %>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.getElementById('toggleCommentForm').addEventListener('click', function() {
      var commentForm = document.getElementById('commentFormContainer');
      if (commentForm.style.display === 'none') {
        commentForm.style.display = 'block';
      } else {
        commentForm.style.display = 'none';
      }
    });
  });
</script>
