<div class="row card-container">
  <% @events.each do |event| %>
    <div class="card card-styling">
      <div id="title-card">
        <h5 class="card-title"><%= event.title %></h5>
      </div>
      <% event.images.each do |image| %>
        <%= cl_image_tag image.key%>
      <% end %>
      <div class="card-body">
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Author: <%= event.user.first_name %></li>
        <div id="card-date-comment">
          <li class="list-group-item">Published: <%= event.created_at.strftime("%B %d, %Y") %> </li>
          <span><%= rand(1..15) %> <i class="fa-solid fa-person"></i></span>
        </div>
      </ul>
      <div class="card-body">
        <%= link_to 'Show More Details', event_path(event), class: 'btn btn-primary', id: "show-button" %>
      </div>
    </div>
  <% end %>
</div>
