<!-- app/views/layouts/navbar.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Example</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to "#", class: "navbar-brand mx-auto" do %>
        <%= image_tag "surviving montreal.png" %>
      <% end %>

      <button class="btn btn-outline-secondary" type="button">
        <i class="fas fa-search"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <%= link_to "My Profile", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Articles", articles_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            Bookmarks
          </li>
          <li class="nav-item">
            <%= link_to "Discover Events", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Plan an Event", new_event_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Events", my_events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            About
          </li>
          <li class="nav-item">
            <%= link_to "Mentorship (Coming soon)", "#", class: "nav-link text-muted" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
