  <style>
    .card-link {
      text-decoration: none;
      color: inherit;
    }
    .card-link:hover {
      color: inherit;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-12 mb-3">
          <%= link_to event_path(event), class: "card-link" do %>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= event.user.first_name %></h6>
                <p class="card-text"><%= event.location %></p>
                <p class="card-text"><small class="text-muted"><%= event.event_date %></small></p>
                <p class="card-text"><%= event.number_of_people %> people attending</p>
                <% event.images.each do |image| %>
                  <div class="mb-2">
                    <%= cl_image_tag image.key, class: "img-fluid", style: "height: 200px; width: 100%; object-fit: cover;" %>
                  </div>
                <% end %>
                <div class="d-flex flex-wrap">
                  <span class="badge badge-primary mr-2"># TAG</span>
                  <span class="badge badge-primary"># TAG</span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
