  <% content_for :title, "Surviving Montreal: Events I'm Attending" %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Events I'm Attending</h2>
      </div>
    </div>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-12 mb-3">
          <div class="card text-image">
            <div class="card-body">
              <h5 class="card-title"><%= event.title %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= event.user.first_name %></h6>
              <p class="card-text"><%= event.description %></p>
              <div class="mb-3">
                <% event.images.each do |image| %>
                  <%= cl_image_tag image.key, class: "img-fluid text-image", style: "height: 200px; width: 100%; object-fit: cover;" %>
                <% end %>
              </div>
              <p><strong>Location:</strong> <%= event.location %></p>
              <p><strong>Date:</strong> <%= event.event_date %></p>
              <p><strong>Number of People:</strong> <%= event.number_of_people %> attending</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
