<%# app/views/layouts/application.html.erb %>
<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'sm-favicon.png', :rel => 'shortcut icon', :type => 'image/png' %>
    <%# <title>Surviving Montreal</title> %>
    <meta property="og:title" content="Your Page Title" />
    <meta property="og:description" content="A brief description of your page." />
    <meta property="og:image" content="https://survivingmontreal.online/images/ogsurvmtl.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <title><%= content_for?(:title) ? yield(:title) : "Surviving Montreal: The Ultimate Blog to Thrive as a Newcomer" %></title>    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : 'Surviving Montreal is your ultimate guide to thrive in Montreal as a newcomer. Discover tips, stories, and insights to help you navigate and enjoy life in this vibrant city.' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo" %>
  </head>
  <body>
    <script>
      document.addEventListener("turbo:load", function() {
        const searchIcon = document.getElementById("navbar-search-icon");
        if (searchIcon) {
          searchIcon.addEventListener("click", function() {
      const searchInput = document.getElementById("search-input");
      if (searchInput) {
        searchInput.value = '';
        searchInput.focus();
      }
          });
        }
      });

      document.addEventListener("turbo:load", function() {
        const scrollTopButton = document.getElementById("scroll-top");

        // Afficher le bouton lorsque l'utilisateur fait défiler vers le bas de 100 pixels
        window.addEventListener("scroll", function() {
          if (window.scrollY > 100) {
      scrollTopButton.classList.add("active");
          } else {
      scrollTopButton.classList.remove("active");
          }
        });

        // Faire défiler vers le haut lorsque l'utilisateur clique sur le bouton
        scrollTopButton.addEventListener("click", function(event) {
          event.preventDefault();
          window.scrollTo({
            top: 0,
            behavior: "smooth"
          });
        });
      });
    </script>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="content-wrapper container">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
    <%= render "shared/floating-button" %>
  </body>
</html>
